<span fxLayoutAlign="center center" class="item" style="color: black;">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize" style="color: black;">call</mat-icon>
  <span class="px-1">(+91)9922922802 /(+91)85529 29394 </span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item" style="color: black;">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize" style="color: black;">location_on</mat-icon>
  <span class="px-1"> Office No. 314, City Avenue, Near Hotel Sayaji, Wakad Pune 411057</span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item" style="color: black;" >
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize" style="color: black;">mail</mat-icon>
  <span class="px-1">info@propline.in</span>
</span>
